@import "../../../../variables.css";

.chats-layout {
  min-width: 310px;
  height: 100vh;
  background-color: var(--main-background-color);
  border-right: 1px solid var(--border-color);
}

.chats__chats-list__layout {
  overflow-y: scroll;
}

.chats__search-layout {
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid var(--border-color);
}

.chats__search-input {
  width: 90%;
  height: 30px;
  background: var(--input-background-color);
  outline: none;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  margin: 15px;
}

.chats__search-input::placeholder {
  text-align: center;
  font-size: 1rem;
}

.chats__profile-button {
  margin-top: 15px;
  margin-right: 15px;
  color: var(--dark-gray-color);
  font-size: 0.9rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.chats__profile-button::after {
  content: "\003E";
  margin-left: 3px;
  font-size: 0.9rem;
  text-align: center;
  color: var(--dark-gray-color);
}

.chats__chat-item__layout {
  width: 100%;
  height: 80px;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.chats__chat-item__chat-active {
  background-color: var(--active-chat-color);
}

.chats__chat-item__avatar {
  width: 60px;
  height: 60px;
  margin: 15px;
}

.chats__chat-item__avatar-stub {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--dark-gray-color);
  margin: 15px;
}

.chats__chat-item__username-message-layout {
  height: 60px;
  flex-grow: 2;
}

.chats__chat-item__message-layout {
  margin-top: 5px;
}

.chats__chat-item__chatname {
  color: var(--black-color);
  font-size: 1.1rem;
  font-weight: 500;
}

.chats__chat-item__is-your-message {
  color: var(--black-color);
  font-size: 0.9rem;
}

.chats__chat-item__message {
  color: var(--black-color);
  font-size: 0.9rem;
}

.chats__chat-item__date {
  font-size: 0.8rem;
}

.chats__chat-item__unread-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  text-align: center;
  background: var(--blue-color);
  color: white;
  border-radius: 50%;
  font-size: 0.8rem;
}

.chats__chat-item__date-count-layout {
  height: 60px;
  justify-content: space-between;
  align-items: end;
  margin: 0 15px;
}

