.contained-button {
  height: 37px;
  color: white;
  font-size: 1rem;
  background: var(--blue-color);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.contained-button-danger {
  height: 37px;
  color: white;
  font-size: 1rem;
  background: red;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.outlined-button {
  height: 37px;
  color: var(--blue-color);
  font-size: 1rem;
  background: var(--main-background-color);
  border-radius: 8px;
  border: 1px solid var(--blue-color);
  cursor: pointer;
}

.outlined-button-danger {
  height: 37px;
  color: red;
  font-size: 1rem;
  background: var(--main-background-color);
  border-radius: 8px;
  border: 1px solid red;
  cursor: pointer;
}

.contained-button:hover {
  transform: translate(0, -1px);
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 20%);
  transition: all 200ms ease-out;
}

.outlined-button:hover {
  transform: translate(0, -1px);
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 20%);
  transition: all 200ms ease-out;
}

.outlined-button-danger:hover {
  transform: translate(0, -1px);
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 20%);
  transition: all 200ms ease-out;
}

.contained-button-danger:hover {
  transform: translate(0, -1px);
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 20%);
  transition: all 200ms ease-out;
}

.text-button {
  margin-top: 15px;
  height: 11px;
  color: var(--blue-color);
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 11px;
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
}
