extends layout/base-layout

block variables
    - const title = `Change Password`;
    - const cssPaths = [`profile.css`];
    - const editProfile = true;
    - const isPasswordChanging = true;

block content
    include partials/profile/profile-template