hr {
    width: 90%;
    border: 0.5px solid #EAEAEA;
    margin: 2px 15px;
}

.chats-column-layout {
    display: flex;
    flex-direction: column;
}

.chats-row-layout {
    display: flex;
    flex-direction: row;
}

.chats-layout {
    width: 310px;
    height: 100vh;
    background-color: #FBFBFB;
    border-right: 0.5px solid #EAEAEA;
}

.chats__chats-list__layout {
    overflow-y: scroll;
}

.chats__search-layout {
    justify-content: space-between;
    align-items: end;
}

.chats__search-input {
    width: 90%;
    height: 30px;
    background: #EFEFEF;
    outline: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    margin: 15px;
}

.chats__search-input::placeholder {
    text-align: center;
    font-size: 1rem;
}

.chats__profile-button {
    margin-top: 15px;
    margin-right: 15px;
    color: #999999;
    font-size: 0.9rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.chats__profile-button::after {
    content: "\003E";
    margin-left: 3px;
    font-size: 0.9rem;
    text-align: center;
    color: #999999;
}

.chats__chat-item__layout {
    width: 100%;
    height: 80px;
    flex-direction: row;
    align-items: center;
}

.chats__chat-item__chat-active {
    background-color: #E4EDFD;
}

.chats__chat-item__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin: 15px;
}

.chats__chat-item__avatar-stub {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #999999;
    margin: 15px;
}

.chats__chat-item__username-message-layout {
    height: 60px;
    flex-grow: 2;
}

.chats__chat-item__message-layout {
    margin-top: 5px;
}

.chats__chat-item__username {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

.chats__chat-item__is-your-message {
    color: black;
    font-size: 0.9rem;
}

.chats__chat-item__message {
    color: #999999;
    font-size: 0.9rem;
}

.chats__chat-item__date {
    font-size: 0.8rem;
}

.chats__chat-item__unread-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #3369F3;
    color: white;
    border-radius: 50%;
    font-size: 0.8rem;
}

.chats__chat-item__date-count-layout {
    height: 60px;
    justify-content: space-between;
    align-items: end;
    margin: 0 15px;
}


