* {
    font-family: Inter, sans-serif;
}

body {
    margin: 0;
}

.flex-column-layout {
    display: flex;
    flex-direction: column;
}

.flex-row-layout {
    display: flex;
    flex-direction: row;
}