.chats-column-layout.chats-layout
    .chats-column-layout.chats__search-layout
        a(href=`profile.pug`)
            button.chats__profile-button Профиль
        input.chats__search-input(placeholder=`Поиск`)
    hr
    include chats-list