.flex-column-layout.chats-layout
    .flex-column-layout.chats__search-layout
        a(href=`profile.pug`)
            button.chats__profile-button Профиль
        input.chats__search-input(placeholder=`Поиск`)
    include chats-list