.flex-column-layout.messages-layout
    .flex-row-layout.messages__chat-name-layout
        .messages__avatar-stub
        span.messages__username Павел
        .messages__chat-options-button
    include messages-list
    .flex-row-layout.messages__message-layout
        img.messages__message-attachment-button(src=`../../public/images/paper-clip.svg`)
        input.messages__message-input(placeholder=`Сообщение`)
        button.messages__send-message-button