:root {
  --danger-color: red;
  --black-color: #1e1e1e;
  --blue-color: #3369f3;
  --dark-gray-color: #999;
  --dialog-background: rgba(0,0,0,0.5);
  --border-color: #eaeaea;
  --main-background-color: #fbfbfb;
  --active-chat-color: #e4edfd;
  --chat-options-background-button-color: #f5f5f5;
  --input-background-color: #efefef;
}

.flex-column-layout {
  display: flex;
  flex-direction: column;
}

.flex-row-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.black {
  color: var(--black-color);
}

.red {
  color: var(--danger-color);
}

.blue {
  color: var(--blue-color);
}

.dark-gray {
  color: var(--dark-gray-color);
}

.justify-right {
  justify-content: end;
}

.full-width {
  width: 100%;
}

.width-120px {
  width: 120px;
}
