.flex-row-layout.profile-layout
    include profile-back-button
    .flex-column-layout.align-center.profile__main-layout
        include profile-avatar
        include profile-info-block
        include profile-buttons