mixin info_row(title, isEditable)
    .flex-row-layout.profile__info__row&attributes(attributes)
        if isEditable
            input.profile__editable-row(type=`${isPasswordChanging ? 'password' : 'text'}` value=title)
        else
            span= title

.flex-row-layout.profile__info-layout
    if isPasswordChanging
        .flex-column-layout.profile__info__row-layout
            +info_row(`Старый пароль`, false)
            +info_row(`Новый пароль`, false)
            +info_row(`Повторите новый пароль`, false)
        .flex-column-layout.profile__info__row-layout
            +info_row(`Старый пароль`, true)(class=`justify-right light-gray`)
            +info_row(`Повторите новый пароль`, true)(class=`justify-right light-gray`)
            +info_row(`Повторите новый пароль`, true)(class=`justify-right light-gray`)
    else
        .flex-column-layout.profile__info__row-layout
            +info_row(`Почта`, false)
            +info_row(`Логин`, false)
            +info_row(`Имя`, false)
            +info_row(`Фамилия`, false)
            +info_row(`Имя в чате`, false)
            +info_row(`Телефон`, false)
        .flex-column-layout.profile__info__row-layout
            +info_row(`p.bologan@yandex.ru`, editProfile)(class=`justify-right light-gray`)
            +info_row(`p.bologan`, editProfile)(class=`justify-right light-gray`)
            +info_row(`Павел`, editProfile)(class=`justify-right light-gray`)
            +info_row(`Бологан`, editProfile)(class=`justify-right light-gray`)
            +info_row(`Павел`, editProfile)(class=`justify-right light-gray`)
            +info_row(`+7 (906) 764-94-76`, editProfile)(class=`justify-right light-gray`)