.flex-column-layout.profile__info__photo-name-layout
    .profile__info__photo-container
        img.profile__info__photo(src=`../../public/images/img-stub.svg`)
    if !editProfile
        span.profile__info__name Павел